__pycache__/
.Python
pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.log
db.sqlite3
db.sqlite3-journal
.python-version
__pypackages__/
celerybeat-schedule
celerybeat.pid

.env
.venv
.idea/
.vscode/
.DS_Store
Thumbs.db

devops-lab-roadmap.md